/* Global */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-text-navigation: #2E2F42;
    --color-pressed-state: #404BBF;
    --color-text-address: #434455;
    --color-text-hero: #FFFFFF;
    --color-text-title: #2E2F42;
    --color-text-paragraf: #434455;
    --color-text-foter: #E7E9FC;
    --color-button-normal: #4D5AE5;
    --color-button-hover: #404BBF;
}

.link {
    text-decoration-line: none;
    list-style: none;
}

a {
    text-decoration-line: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-paragraf);
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.reset-px {
    display: block;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Mobile 320px %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Header 320px @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (min-width: 320px) and (max-width: 427px) {

    .header-container {
        display: flex;
        width: 320px;
        height: 70px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        /* justify-content: space-between; */
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .logo-web {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: #4D5AE5;
    }

    .logo-studio {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: #2E2F42;
    }

    .icon-menu-hamburger {
        stroke: #2E2F42;
    }

    .nav-address-wrap {
        display: none;
    }

    .contact-block {
        display: none;
    }

    .mobile-menu-open {
        position: absolute;
        background-color: transparent;
        top: 24px;
        right: 16px;
        border: none;
    }


}