/* Global */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-text-navigation: #2E2F42;
    --color-pressed-state: #404BBF;
    --color-text-address: #434455;
    --color-text-hero: #FFFFFF;
    --color-text-title: #2E2F42;
    --color-text-paragraf: #434455;
    --color-text-foter: #E7E9FC;
    --color-button-normal: #4D5AE5;
    --color-button-hover: #404BBF;
}

.link {
    text-decoration-line: none;
    list-style: none;
}

a {
    text-decoration-line: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-paragraf);
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.reset-px {
    display: block;
    /* width: 100%; */
    /* height: auto; */
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Mobile 320px %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Header 320px @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 96px;
    }


    .header-container {
        position: relative;
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    }

    .logo-web {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: #4D5AE5;
    }

    .logo-studio {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: #2E2F42;
    }

    .icon-menu-hamburger {
        stroke: #2E2F42;
    }

    .nav-address-wrap {
        display: none;
    }

    .contact-block {
        display: none;
    }

    .mobile-menu-open {
        position: absolute;
        background-color: transparent;
        top: 24px;
        right: 16px;
        border: none;
    }



    /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ HERO 320px @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-desktop/squoosh/hero-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--color-text-hero);
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: var(--color-button-normal);
        border-color: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 88px;
        padding: 16px 32px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: var(--color-button-hover);
    }

    .features-box {
        display: none;
    }

    .features-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .title-features {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    .section-work {
        display: none;
    }

    .team-section {
        background-color: #F4F4FD;
        align-items: center;
    }

    .team-block {
        display: block;
    }

    .team-item {
        /* width: 264px; */
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;

    }

    .team-title {
        text-align: center;
        margin-bottom: 72px;
    }

    .team-block-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 72px;

    }

    .team-foto-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .team-skill {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
    }

    .team-connect-block {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 32px;
    }

    .team-connect-list {
        display: flex;
    }

    .team-connect-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-connect-item:not(:last-child) {
        margin-right: 24px;
    }

    .team-connect-icon {
        display: block;
        fill: #FFFFFF;
    }

    .team-connect-item:hover,
    .team-connect-item:focus {
        background-color: #404BBF;
    }

    .customers-block {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-title {
        text-align: center;
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
    }

    .customers-organisation {
        display: flex;
        height: 88px;
        width: 190px;
        justify-content: center;
        align-items: center;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        cursor: pointer;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        margin-right: auto;
        margin-left: auto;

    }

    .customers-organisation:not(:last-child) {
        margin-bottom: 24px;
    }

    .customers-svg {
        width: 104px;
        height: 56px;
        fill: #AFB1B8;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-organisation:hover,
    .customers-organisation:focus {
        border-color: #404BBF;
    }

    .customers-organisation:hover .customers-svg,
    .customers-organisation:focus .customers-svg {
        fill: #404BBF;
    }

    footer {
        background-color: #2E2F42;
    }

    .footer {}

    .footer-list {
        margin: 0;
    }

    .footer-logo {}

    .footer-logo-link {
        display: flex;
        justify-content: center;
        padding-bottom: 18px;
    }

    .footrer-logo-web {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #4D5AE5;
    }

    .footrer-logo-studio {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #F4F4FD;
    }

    .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text-foter);
        padding-bottom: 72px;
    }

    .social-media {
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .social-media-list {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 24px;
        padding-bottom: 72px;
    }

    .media-list {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .media-list:hover,
    .media-list:focus {
        background-color: #31D0AA;
        fill: #404BBF;
    }

    .footer-icon {
        justify-content: center;
        align-items: center;
        fill: #FFFFFF;
    }

    .form-subscribe-wrapper {
        /* width: 288px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-subscribe {
        display: flex;
        justify-content: center;
        width: 288px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .subscribe-form {
        display: block;
        outline: none;
        height: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-right: 24px;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-bottom: 16px;
    }

    .form-subscribe-email {
        display: block;

    }

    .subscribe-form {
        width: 100%;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .subscribe-icon-wrapper {
        position: relative;
    }

    .subscribe-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0, -50%);
        fill: #FFFFFF;
    }

    .subscribe-btn {
        width: 165px;
        height: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4D5AE5;
        border-radius: 4px;
        border: transparent;
        margin: 0px 0px 40px 0px;
        padding-left: 24px;
    }

    .subscribe-btn:hover,
    .subscribe-btn:focus {
        background-color: var(--color-button-hover);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Mobile 428px %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }

    .header-container {
        /* width: 428px; */
    }

    .hero {
        /* width: 428px; */
    }

    .section-features {
        /* width: 428px; */
    }

    .team-block-list {
        flex-direction: row;
    }

    .customers-block {
        /* width: 428px; */
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 16px;
    }

    .customers-organisation {
        margin: 0;
    }
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% TABLET 768px %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header-container {
        width: 768px;
        justify-content: space-between;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-main {
        display: flex;
    }

    .header-navigation {
        display: flex;
        gap: 40px;
    }


    .nav-address-wrap {
        display: block;
    }

    .contact-block {
        display: block;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .mobile-menu-open {
        display: none;
    }

    .header-container {
        width: 768px;
    }

    .hero {
        width: 768px;
    }

    .section-features {
        width: 768px;
    }

    .features-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
    }

    .features-item {
        width: 356px;
    }

    .title-features {
        justify-content: start;
    }

    .team-section {
        background-color: #F4F4FD;
        align-items: center;
    }

    .team-block {

        /* width: 768px; */
        /* margin-right: auto; */
        /* margin-left: auto; */
    }

    .team-item {
        margin: 0;
        padding: 0;
    }

    .team-block-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
        /* justify-content: center; */
    }

    .team-connect-item:not(:last-child) {
        margin-right: 24px;
    }

    .customers-block {
        width: 768px;
    }

    .customers-list {
        justify-content: center;
        gap: 72px 24px;
    }

    footer {
        padding-left: 108px;
    }

    .footer {
        width: 736px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding-bottom: 96px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-logo {
        width: 264px;
        margin-right: 24px;
    }

    .footer-logo-link {
        justify-content: start;
    }

    .social-media-block {
        width: 208px;
        padding-top: 96px;
    }

    .social-media {
        justify-content: start;
    }

    .social-media-list {
        justify-content: center;
        padding-bottom: 72px;
    }


    .form-subscribe-wrapper {
        width: 453px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .subscribe-btn {
        margin: 0;
        margin-top: 40px;

    }

    .form-subscribe {
        justify-content: start;
    }


    .subscribe-form {
        width: calc(100% - 24px);
        margin: 0;
    }




}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% DESCTOP 1158px %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;

    }

    .header-container {
        width: 1158px;
    }

    .hero {
        width: 1158px;
    }

    .contact-block {
        top: 24px;
        right: 16px;
    }

    .contact-list {
        display: flex;
        gap: 40px;
    }

    .section-features {
        width: 1158px;
    }

    .features-box {
        display: flex;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
    }

    .features-list {
        flex-wrap: nowrap;
    }

    .features-item {
        width: 264px;
    }

    .title-job {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--color-text-title);
        text-align: center;
        margin-bottom: 72px;
    }

    .section-work {
        display: block;
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
    }

    .work-list {
        display: flex;
        gap: 24px;
    }


    .team-block {
        display: block;
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
    }

    .team-title {
        padding-top: 120px;
    }

    .team-block-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        padding-bottom: 120px;
    }

    .customers-block {
        width: 1158px;
    }

    .customers-list {
        flex-wrap: nowrap;
    }

    .footer {
        width: 1126px;
        flex-wrap: nowrap;
        padding-top: 96px;
    }

    .footer-text {
        padding-bottom: 0;
    }

    .social-media-block {
        padding: 0;
        margin-right: 80px;
    }

    .footer-logo {
        padding: 0;
        margin-right: 120px;
    }

    .social-media-list {
        padding-bottom: 0px;
    }

    .form-subscribe-wrapper {
        align-content: start;
    }

}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% DESCTOP 1440px %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (min-width: 1440px) {
    .header-container {
        width: 1440px;
    }

    .hero {
        width: 1440px;
    }

    .section-features {
        width: 1440px;
        justify-content: center;
    }

    .features-list {
        justify-content: center;
    }





}